<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <servlet>
    <description>Session</description>
    <servlet-name>Session</servlet-name>
    <servlet-class>index.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Create User</description>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>index.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Validate Login</description>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>index.ValidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/validatelogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Verify Order</description>
    <servlet-name>VerifyOrder</servlet-name>
    <servlet-class>index.VerifyOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOrder</servlet-name>
    <url-pattern>/verifyorder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Checkout</description>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>index.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Account Details</description>
    <servlet-name>AccountDetails</servlet-name>
    <servlet-class>index.AccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetails</servlet-name>
    <url-pattern>/accountdetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Cancel Order</description>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>index.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/cancelorder</url-pattern>
  </servlet-mapping>

</web-app>