doctype html
html
head
    title ShopIT: Online Mega Store
    link(href='css/templatemo_style.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/ddsmoothmenu.css')
  body
    #templatemo_wrapper
      #templatemo_header
        #site_title
          h1 ShopIT
        .cleaner
      //
         END of templatemo_header 
      #templatemo_menu
        #top_nav.ddsmoothmenu
          ul
            li
              a.selected(href='/') Home
            li
              a(href='checkout.html') Checkout
          br(style='clear: left;')
        //
           end of ddsmoothmenu
      #templatemo_main
        #sidebar.float_l
          .sidebar_box
            span.bottom
            h3 Categories
            .content
              ul.sidebar_list
                li.first
                  a(href='/laptops') Laptops
                li
                  a(href='/tablets') Tablets
                li
                  a(href='/headphones') Headphones
                li
                  a(href='/consoles') Gaming Consoles
                .cleaner
        #content.float_r
          h1 Laptops
          each item, i in laptops
            .product_box
              a(class='button', href='/laptops-#{item.sku}') 
                img(src='images/product/#{item.sku}.jpg', alt='Laptops')
              h3 #{item.title}
        .cleaner
      //
         END of templatemo_main 
