doctype html
html
  head
    title Shopit.com: The Online Shopping Store
    link(rel='stylesheet', type='text/css', href='css/ddsmoothmenu.css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/ddsmoothmenu.js')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    script(language='javascript', type='text/javascript', src='scripts/mootools-1.2.1-core.js')
    script(language='javascript', type='text/javascript', src='scripts/mootools-1.2-more.js')
    script(language='javascript', type='text/javascript', src='scripts/slideitmoo-1.1.js')
  body
    block content